<main>
  <section class="searchForTitle">
    <div>
      <input type="text" [(ngModel)]="searchTitle" placeholder="Search Title here...">
      <button (click)="searchByTitle()">Search</button>
    </div>

    <div *ngIf="titleFound !== null">
      <p [style.color]="titleFound ? 'green' : 'crimson'">
        {{titleFound ? 'Movie Found' : 'Movie not found'}}
      </p>
    </div>
  </section>


  <h1>Movies with no type</h1>
  <section class="cards">
    <div *ngFor="let content of contents | contentType" appHoverAffect="border">
      <app-content-card [movie]="content" [class]="'noContentType'"></app-content-card>
    </div>
  </section>

  <h1>Actions Movies</h1>
  <section class="cards">
    <div *ngFor="let content of contents | contentType:'Action Movies'" appHoverAffect="border">
      <app-content-card [movie]="content" [class]="'actionMovie'"></app-content-card>
    </div>
  </section>

  <h1>Fantacy Movies</h1>
  <section class="cards">
    <div *ngFor="let content of contents | contentType:'Fantacy Movies'" appHoverAffect="border">
      <app-content-card [movie]="content" [class]="'fantacyMovie'"></app-content-card>
    </div>
  </section>
</main>


<!--<p>content-list works!</p>

<p>Movies List</p>
<!-- For Assignment 4 code 

<h1 style="padding: 20px; margin: 20px; background-color: lavenderblush; color: darkblue;">
  Search Form


  <br />
  <br />


  <div>
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search by title">
    &nbsp;
    <button (click)="checkExistence()"> Search </button>
    <p *ngIf="(searchResults.length === 0 || searchResults.length < 0)" class="search-message red" style="color: red; font-weight: bold; font-size: 30px;">No results found.</p>
    <p *ngIf="searchTerm && searchResults.length > 0" class="search-message green" style="color: green; font-weight: bold; font-size: 30px;">A content item with this title exists.</p>
  </div>

  <ul>
    <li *ngFor="let item of searchResults">{{ item.title }}</li>
  </ul>
</h1>


<br />
<br />
<hr />
<br />
<br />



<h1 appHoverAffect="underline" style="padding: 20px; padding-left:550px; margin: 20px; font-size:60px;
  background-color: black; color: blanchedalmond;">
  Type : No Type
</h1>

<ul style="padding-left:300px">
  <li style="list-style-type: none; font-family:'Times New Roman', Times, serif;"
      *ngFor="let content of contentArray | contentList: ''">

    <div class="content-card" style="width: 70%; padding: 10px; margin: 10px; border-radius: 10%;
      text-align: center; background-color: black; color: blanchedalmond; margin-bottom: 50px; ">

      <h1 class="content-card-header" style="font-size:50px">
        {{content.title}}
      </h1>
      <div class="content-card-body">

        <!--<p><img src="{{ content.imgURL }}" alt="content image" style="width: 70%; border-radius: 10%;" /></p>
        <p>
          <img *ngIf="content.imgURL; else defaultURL" [src]="content.imgURL" alt="content image" style="width: 70%; border-radius: 10%;" />
          <ng-template #defaultURL>
            <img src="https://m.media-amazon.com/images/M/MV5BMGVmMWNiMDktYjQ0Mi00MWIxLTk0N2UtN2ZlYTdkN2IzNDNlXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_FMjpg_UX1000_.jpg"
                 alt="default image" style="width: 70%; border-radius: 10%;" />
          </ng-template>
        </p>

        <p style="font-size:30px">{{ content.description }}</p>
        <p style="font-size:30px"><strong>Creator:</strong> {{ content.creator }}</p>
        <p style="font-size:30px" appHoverAffect="underline"><strong>Type:</strong> {{ content.type }}</p>
        <p style="font-size:30px">
          <strong>Tags:</strong>
          <span *ngFor="let tag of content.tags" appHoverAffect="bold">&emsp;{{ tag }}</span>
        </p>
      </div>

    </div>

  </li>
</ul>


<br />
<br />
<hr />
<br />
<br />


<h1 appHoverAffect="underline" style="padding: 20px; padding-left: 550px; margin: 20px; font-size: 60px;
  background-color: black; color: blanchedalmond; ">
  Type : Action
</h1>

<ul style="padding-left:300px">
  <li style="list-style-type: none; font-family:'Times New Roman', Times, serif"
      *ngFor="let content of contentArray | contentList: 'ios'">

    <div class="content-card" style="width: 70%; padding: 10px; margin: 10px; border-radius: 10%;
      text-align: center; background-color: black; color: blueviolet; margin-bottom: 50px; ">

      <h1 class="content-card-header" style="font-size:50px">
        {{content.title}}
      </h1>
      <div class="content-card-body">

        <!--<p><img src="{{ content.imgURL }}" alt="content image" style="width: 70%; border-radius: 10%;" /></p>
        <p>
          <img *ngIf="content.imgURL; else defaultURL" [src]="content.imgURL" alt="content image" style="width: 70%; border-radius: 10%;" />
          <ng-template #defaultURL>
            <img src="http://www.movienewsletters.net/photos/004978R1.jpg"
                 alt="default image" style="width: 70%; border-radius: 10%;" />
          </ng-template>
        </p>

        <p style="font-size:30px">{{ content.description }}</p>
        <p style="font-size:30px"><strong>Creator:</strong> {{ content.creator }}</p>
        <p style="font-size:30px" appHoverAffect="underline"><strong>Type:</strong> {{ content.type }}</p>
        <p style="font-size:30px">
          <strong>Tags:</strong>
          <span *ngFor="let tag of content.tags" appHoverAffect="bold">&emsp;{{ tag }}</span>
        </p>
      </div>

    </div>

  </li>
</ul>


<br />
<br />
<hr />
<br />
<br />


<h1 appHoverAffect="underline" style="padding: 20px; padding-left: 550px; margin: 20px; font-size: 60px;
  background-color: silver; color: wheat; ">
  Type: Fantacy
</h1>

<ul style="padding-left:300px">
  <li style="list-style-type: none; font-family:'Times New Roman', Times, serif"
      *ngFor="let content of contentArray | contentList: 'android'">

    <div class="content-card" style="width: 70%; padding: 10px; margin: 10px; border-radius: 10%;
      text-align: center; background-color: bisque; color: beige; margin-bottom: 50px; ">

      <h1 class="content-card-header" style="font-size:50px">
        {{content.title}}
      </h1>
      <div class="content-card-body">

        <!--<p><img src="{{ content.imgURL }}" alt="content image" style="width: 70%; border-radius: 10%;" /></p>
        <p>
          <img *ngIf="content.imgURL; else defaultURL" [src]="content.imgURL" alt="content image" style="width: 70%; border-radius: 10%;" />
          <ng-template #defaultURL>
            <img src="https://occ-0-38-769.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABS6v2gvwesuRN6c28ZykPq_fpmnQCJwELBU-kAmEcuC9HhWX-DfuDbtA-bfo-IrfgNtxl0qwJJlhI6DENsGFXknKkjhxPGTV-qhp.jpg?r=608"
                 alt="default image" style="width: 70%; border-radius: 10%;" />
          </ng-template>
        </p>

        <p style="font-size:30px">{{ content.description }}</p>
        <p style="font-size:30px"><strong>Creator:</strong> {{ content.creator }}</p>
        <p style="font-size:30px" appHoverAffect="underline"><strong>Type:</strong> {{ content.type }}</p>
        <p style="font-size:30px">
          <strong>Tags:</strong>
          <span *ngFor="let tag of content.tags" appHoverAffect="bold">&emsp;{{ tag }}</span>
        </p>
      </div>

    </div>

  </li>
</ul>-->












<!-- --------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------- -->
<!-- For Assignment 3 code

<h1 style="padding: 20px; margin: 20px; background-color: palevioletred; color: white;">
  Search Form

  <br />

  <!--<form>
    <input type="text" [(ngModel)]="searchItem" placeholder="Enter Title:" />
    <button (click)="searchArray()"> Search </button>
  </form>

<div>
  <input type="text" [(ngModel)]="searchTerm" placeholder="Search by title">
  &nbsp;
  <button (click)="checkExistence()"> Search </button>
  <!--<p *ngIf="searchTerm && searchResults.length === 0" class="search-message red">No results found.</p>
  <p *ngIf="(searchResults.length === 0 || searchResults.length < 0)" class="search-message red" style="color: red; font-weight: bold; font-size: 30px;">No results found.</p>
  <p *ngIf="searchTerm && searchResults.length > 0" class="search-message green" style="color: green; font-weight: bold; font-size: 30px;">A content item with this title exists.</p>
</div>

<ul>
  <li *ngFor="let item of searchResults">{{ item.title }}</li>
</ul>
</h1>

<h1 style="padding: 20px; margin: 20px; background-color: antiquewhite; color: darkblue;"> Type : No Type </h1>

<ul>
  <li style="list-style-type: none; font-family:'Times New Roman', Times, serif;"
      *ngFor="let content of contentArray | contentList: 'Action'">

    <div class="content-card" style="width: 40%; padding: 10px; margin: 10px; border-radius: 10%;
      text-align: center; background-color: antiquewhite; color: mediumpurple; margin-bottom: 50px; ">

      <h1 class="content-card-header">
        {{content.title}}
      </h1>
      <div class="content-card-body">
        <p><img src="{{ content.imgURL }}" alt="content image" style="width: 70%; border-radius: 10%;" /></p>
        <p style="font-size:20px">{{ content.description }}</p>
        <p><strong>Creator:</strong> {{ content.creator }}</p>
        <p><strong>Type:</strong> {{ content.type }}</p>
        <p>
          <strong>Tags:</strong>
          <span>{{ content.tags }}</span>
        </p>
      </div>

    </div>

  </li>
</ul>

<h1 style="padding: 20px; margin: 20px; background-color: lightblue; color: darkblue; "> Type : Fantacy </h1>

<ul>
  <li style="list-style-type: none; font-family:'Times New Roman', Times, serif"
      *ngFor="let content of contentArray | contentList: 'Fantacy'">

    <div class="content-card" style="width: 40%; padding: 10px; margin: 10px; border-radius: 10%;
      text-align: center; background-color: lightcyan; color: mediumpurple; margin-bottom: 50px; ">

      <h1 class="content-card-header">
        {{content.title}}
      </h1>
      <div class="content-card-body">
        <p><img src="{{ content.imgURL }}" alt="content image" style="width: 50%; border-radius: 8%;" /></p>
        <p style="font-size:20px">{{ content.description }}</p>
        <p><strong>Creator:</strong> {{ content.creator }}</p>
        <p><strong>Type:</strong> {{ content.type }}</p>
        <p>
          <strong>Tags:</strong>
          <span>{{ content.tags }}</span>
        </p>
      </div>

    </div>

  </li>
</ul>

<h1 style="padding: 20px; margin: 20px; background-color: darksalmon; color: darkblue; "> Type: Action </h1>

<ul>
  <li style="list-style-type: none; font-family:'Times New Roman', Times, serif"
      *ngFor="let content of contentArray | contentList: 'android'">

    <div class="content-card" style="width: 40%; padding: 10px; margin: 10px; border-radius: 10%;
      text-align: center; background-color: lightcyan; color: mediumpurple; margin-bottom: 50px; ">

      <h1 class="content-card-header">
        {{content.title}}
      </h1>
      <div class="content-card-body">
        <p><img src="{{ content.imgURL }}" alt="content image" style="width: 70%; border-radius: 10%;" /></p>
        <p style="font-size:20px">{{ content.description }}</p>
        <p><strong>Creator:</strong> {{ content.creator }}</p>
        <p><strong>Type:</strong> {{ content.type }}</p>
        <p>
          <strong>Tags:</strong>
          <span>{{ content.tags }}</span>
        </p>
      </div>

    </div>

  </li>
</ul>-->
