<mat-card [id]="movie.id" [ngClass]="['card', class]" appHoverAffect="border">
  <mat-card-header [matTooltip]="movie.title" [matTooltipPosition]="'above'">
    <div class="card-img">
      <div *ngIf="movie.imgURL; else defaultImage">
        <img mat-card-image [src]="movie.imgURL" alt={{movie.title}} (click)="handleClick(movie)">
      </div>
      <ng-template #defaultImage>
        <img mat-card-image [src]="defaultImage" alt={{movie.title}} (click)="handleClick(movie)">
      </ng-template>
    </div>
  </mat-card-header>

  <mat-card-content class="card-body">
    <h2><a routerLink="/contents/{{movie.id}}">{{movie.title}}</a></h2>
    <p><strong>Creator:</strong> {{movie.creator}}</p>
  </mat-card-content>

  <mat-card-footer>
    <p *ngIf="movie.type" appHoverAffect="underline"><strong>Type:</strong> {{movie.type}}</p>
    <p *ngIf="movie.tags">
      <strong>Tags:</strong>
      <span *ngFor="let tag of movie.tags" appHoverAffect="bold">
        {{tag}},
      </span>
    </p>
  </mat-card-footer>
</mat-card>
